
.list-group-item
{

    height: 40px;
    background: #f5f8f0;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    border-color: #51b17c;
    color:#51b17c;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 10px rgb(194, 212, 199);
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h4
{
   font-family: 'Courier New', Courier, monospace;
   color: #51b17c;
   padding-left: 10px;
}

label
{
    font-family: 'Courier New', Courier, monospace; 
    border-color: #51b17c;
    color:#51b17c ;
}





