.introUyen{
    background: linear-gradient(to right, rgb(234, 219, 247), rgb(226, 243, 220) );
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 90vh;
    margin: 2rem;
    padding: 3rem;

}


